@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

nav {
  flex: 1;
  text-align: right;
  background-color: #000000;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 100px;
  margin-top: 5%;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

/* .logo {
  max-height: 100px;
  margin-right: 700px;
} */
.join-us-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-items: right;
  font-family: "comfortaa";
}

/* main {
  flex: 1;
  padding: 2rem;
} */

.nav-links {
  margin-right: 30%;
}

section {
  margin-bottom: 2rem;
}

.hero-section {
  height: 670px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.hero-text {
  color: #fff;
  text-align: center;
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-card {
  width: 300px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
