@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

nav {
  flex: 1;
  text-align: right;
  background-color: #000000;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 100px;
  margin-top: 5%;
}

.nav-links ul li a {
  cursor: pointer;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.join-us-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-items: right;
  font-family: "comfortaa";
}

.admin-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-items: right;
  font-family: "comfortaa";
  margin-left: 50px;
}

.nav-links {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sign-out-button {
  margin-left: 70px;
}

section {
  margin-bottom: 2rem;
}
.about-container {
  display: flex;
  align-items: center;
}

.about-container1 {
  display: flex;
  align-items: center;
}

.about-heading {
  flex: 0 0 auto;
  margin-right: 90px;
  margin-left: 95px;
  font-size: 70%;
  margin-top: 5%;
  color: #fe9f29;
}

.about-heading1 {
  flex: 0 0 auto;
  margin-right: 90px;
  margin-left: 95px;
  font-size: 90%;
  font-weight: 30px;
  margin-top: 5%;
  color: #fe9f29;
}

.about-us-section {
  margin-top: 0%;
  margin-bottom: 7%;
}

.about-us-section1 {
  margin-top: 0%;
  margin-bottom: 7%;
}
.about-content {
  flex: 1 1 auto;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 3%;
  margin-top: 5%;
}

.about-content1 {
  flex: 1 1 auto;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 3%;
  margin-top: 5%;
  text-align: justify;
  padding-right: 100px;
}

.about-content img {
  margin-left: 23%;
  /* width: 40%; */
  margin-top: 13%;
  size: 200cap;
  box-shadow: 0px 0px 10px #fe9f29;
}

.image-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  border-radius: 20%;
  margin-left: -17%;
}

.image-container img {
  border-radius: 5%;
}
.join-us-button1 {
  padding: 10px 20px;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20%;
  height: 3vh;
  position: absolute;
  width: 30vh;
  top: 1370px;
}

h2 {
  font-size: 23px;
  margin-top: -200%;
}

.upcoming-events-section h2 {
  color: white;
  margin-left: 43%;
  margin-top: 3%;
}

.upcoming-events-section .event-cards {
  margin-top: 5%;
}

.banner-section {
  position: relative;
  height: 70px;
  width: 90%;
  background-color: #f2f2f2;
  margin-left: 5%;
  margin-top: 3%;
}

.banner-section-2 {
  position: relative;
  height: 70px;
  width: 90%;
  background-color: #f2f2f2;
  margin-left: 5%;
  margin-top: -13%;
  margin-bottom: 4%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

.register-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: right;
  font-family: "comfortaa";
}
.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.join-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: Comfortaa;
}

.hero-text {
  color: #fff;
  text-align: center;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: floatAnimation 4s ease-in-out infinite;
}

/* featured events section  */

.featured-events-section {
  margin-top: 10%;
  background-color: black;
  padding: 40px;
  height: 100vh;
  position: relative;
}

h3 {
  color: #fe9f29;
  margin-left: 37%;
  font-size: 33px;
  margin-bottom: 4%;
}

h4 {
  color: #fe9f29;
}

p {
  color: white;
}

h5 {
  color: #000000;
  font-size: 20px;
}

h6 {
  color: green;
  font-size: 20px;
  margin-left: 60px;
}

/* Event Card Styles */

.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-left: 40px;
  margin-right: 40px; */
}

.event-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(240, 236, 236, 0.956);
  overflow: hidden;
  width: 46vh;
  height: 50vh;
}
.event-cards .event-card {
  width: calc(25% - 20px);
  height: auto;
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.event-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
}
.upcoming-events-section .event-card,
.past-events-section .event-card {
  margin-bottom: 235px;
}

.event-details {
  padding: 20px;
}

.event-details h4 {
  margin: 0 0 10px;
}

.event-details p {
  margin: 0;
  color: #666;
  margin-top: 12px;
}
.register-button {
  display: block;
  text-align: center;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: 70%;
  margin-left: 23px;
}

.register-button:hover {
  background-color: #b32a00;
}

.featured-stats-section {
  display: flex;
  justify-content: space-around;
  margin-top: 12%;
  margin-bottom: 10%;
}

.view-more-button {
  padding: 10px 20px;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 39%;
  height: 3vh;
  position: absolute;
  top: 650px;
}

.view-more {
  padding: 10px 20px;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 42%;
  height: 3vh;
  position: absolute;
  top: 1900px;
}

.view-more-button:hover {
  background-color: #b32a00;
}

.stats-box {
  width: 200px;
  height: 100px;
  background-color: #fe9f29;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.stats-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(172, 167, 167, 0.5);
}

/* Footer styles */
footer {
  background-color: black;
  color: #ffffff;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section ul li {
  margin-left: 20px;
}

.contact-info p {
  margin: 10px 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.contact-info p svg {
  margin-right: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  font-size: 24px;
  margin: 0 10px;
  color: #555;
}

.social-icon:hover {
  color: #fe9f29;
}

/*Signup form*/

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.signup-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 410px;
}
.event-buttons {
  display: flex;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #100f0f;
  border-radius: 10px;
}

.signup-btn {
  background-color: #fe9f29;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-family: "Comfortaa", sans-serif;
}

.signup-btn:hover {
  background-color: #b33f00;
}

.black-text {
  color: black;
  margin-left: 1%;
  font-size: 0.9rem;
  margin-top: 35px;
}

.google-button {
  background-color: #fe9f29;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  width: 30%;
  height: 12px;
  margin-left: 23px;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  margin: 20px 0;
}

.divider hr {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 0 10px;
}

/*Main-events-page*/
.main-events-page {
  background-color: #ffffff;
}

/* EventRSVPForm.css */

.event-rsvp-form {
  width: 400px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.event-rsvp-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 30px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.form-group label {
  display: inline-block;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
button {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 370px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #fe9f29;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5%;
}

button:hover {
  background-color: #b33f00;
}

/*Login page*/

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 270px;
}

.admin-form {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0px;
  font-size: 16px;
  border-radius: 5px;
  border-color: #000000;
  background-color: #ffffff;
}

.login-btn {
  background-color: #fe9f29;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 20%;
  margin: auto;
  width: 100%;
}
.signup-login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: auto;
  width: 100%;
  height: 12%;
}

.login-button:hover {
  background-color: #b33f00; /* Change to your desired hover color */
}

.login-btn:hover {
  background-color: #b33f00;
}

.error-message {
  color: red;
}

.lgn {
  width: 90%;
}

/* create-event.css */

.create-event {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-left: 550px;
  margin-top: 40px;
}

.create-event h1 {
  background-color: #ff7f00;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  margin: -20px -20px 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group input[type="password"],
.form-group input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.time-group {
  display: flex;
  justify-content: space-between;
}

.location-group {
  display: flex;
  flex-direction: column;
}

.location-group label {
  margin-bottom: 10px;
}

.radio-buttons {
  display: flex;
  justify-content: space-around;
}

.radio-buttons label {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.radio-buttons input[type="radio"] {
  margin-right: 5px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-primary {
  background-color: #ff7f00;
  color: white;
  margin-bottom: 20px;
  font-family: "Comfortaa", sans-serif;
  margin-left: 5px;
}

.btn-secondary {
  background-color: #ddd;
  color: black;
  margin-bottom: 20px;
  font-family: "Comfortaa", sans-serif;
  margin-right: 4px;
}

/* Member-page */

.team {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.team-header h1 {
  margin: 0;
  font-size: 24px;
  color: #4a4a4a;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons button {
  padding: 10px 20px;
  border: none;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: #ff7f00;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 150px;
  transition: background-color 0.3s ease;
  height: 35px;
  font-weight: 400;
  font-size: 12px;
}

.header-buttons button:hover {
  background-color: rgb(142, 136, 136);
}

/* Filter and search */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filters select,
.filters input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table */
.team-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.team-table th,
.team-table td {
  border: 1px solid #e0e0e0;
  padding: 15px;
  text-align: left;
}

.team-table th {
  background-color: #f9f9f9;
  font-weight: 600;
}

.team-table .enabled {
  color: green;
}

.team-table .disabled {
  color: red;
}

.team-table tr:hover {
  background-color: #f1f1f1;
}
/* Analytics */

.analytics {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Comfortaa", sans-serif;
}

.analytics-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.team-page-buttons {
  display: flex;
}

.greeting p {
  margin: 5px 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 18px;
  font-family: "Comfortaa", sans-serif;
}

.create-event-button {
  background-color: #ff7f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 37px;
  font-family: "Comfortaa", sans-serif;
}

.create-event-button:hover {
  background-color: #782518;
}

.view-members-button {
  background-color: #ff7f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  width: 170px;
  height: 37px;
  font-family: "Comfortaa", sans-serif;
  margin-left: 20px;
}

.view-members-button:hover {
  background-color: #782518;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.stat-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 18%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-size: 14px;
}

.stat-value {
  font-size: 28px;
  color: #007bff;
}

.chart {
  margin: 20px 0;
  text-align: center;
}

.activity-feed {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feed-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.activity {
  color: #333;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content p {
  margin: 20px 0;
}

.modal-content .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content .btn-primary {
  background-color: #fe9f29;
  color: white;
}

.modal-content .btn-primary:hover {
  background-color: #ff7f00;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-message {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.welcome-message {
  color: #ff7f00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links-logged-in ul {
  justify-content: center;
}

.sign-out-button {
  padding: 5px 15px;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 20%;
  height: 3vh;
  position: absolute;
  align-content: center;
}

.love {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
