@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

nav {
  flex: 1;
  text-align: right;
  background-color: #000000;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 100px;
  margin-top: 5%;
}

.nav-links ul li a {
  cursor: pointer;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.join-us-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-items: right;
  font-family: "comfortaa";
}

.nav-links {
  margin-right: 30%;
}

section {
  margin-bottom: 2rem;
}
.about-container {
  display: flex;
  align-items: center;
}

.about-heading {
  flex: 0 0 auto;
  margin-right: 90px;
  margin-left: 95px;
  font-size: 70%;
  margin-top: 5%;
  color: #fe9f29;
}
.about-us-section {
  margin-top: 0%;
  margin-bottom: 7%;
}
.about-content {
  flex: 1 1 auto;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 3%;
  margin-top: 5%;
}

.about-content img {
  margin-left: 23%;
  /* width: 40%; */
  margin-top: 13%;
  size: 200cap;
  box-shadow: 0px 0px 10px #fe9f29;
}

.image-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  border-radius: 20%;
  margin-left: -17%;
}

.image-container img {
  border-radius: 5%;
}
.join-us-button1 {
  margin-left: 30%;
  background-color: #fe9f29;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-items: right;
  font-family: "comfortaa";
  margin-top: 10%;
  height: 6vh;
  margin-bottom: -3%;
}

h2 {
  font-size: 23px;
  margin-top: -200%;
}

.upcoming-events-section h2 {
  color: white;
  margin-left: 43%;
  margin-top: 3%;
}

.upcoming-events-section .event-cards {
  margin-top: 5%;
}

.banner-section {
  position: relative;
  height: 80px;
  width: 90%;
  background-color: #fe9f29;
  margin-left: 5%;
  margin-top: 3%;
}

.banner-section-2 {
  position: relative;
  height: 80px;
  width: 90%;
  background-color: #fe9f29;
  margin-left: 5%;
  margin-top: -13%;
  margin-bottom: 4%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
}

.register-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: right;
  font-family: "comfortaa";
}
.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.join-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: Comfortaa;
}

.hero-text {
  color: #fff;
  text-align: center;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: floatAnimation 4s ease-in-out infinite;
}

/* featured events section  */

.featured-events-section {
  margin-top: 10%;
  background-color: black;
  padding: 40px;
  height: 100vh;
  position: relative;
}

h3 {
  color: #fe9f29;
  margin-left: 40%;
  font-size: 33px;
  margin-bottom: 4%;
}

h4 {
  color: #fe9f29;
}

p {
  color: white;
}

h5 {
  color: #000000;
  font-size: 20px;
}
.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-card {
  width: 300px;
  margin-bottom: 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.event-card-image {
  overflow: hidden;
  height: 200px;
}

.event-card img {
  width: 100%;
  height: auto;
}
.featured-stats-section {
  display: flex;
  justify-content: space-around;
  margin-top: 12%;
  margin-bottom: 10%;
}

.view-more-button {
  padding: 10px 20px;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 40%;
  height: 3vh;
  position: absolute;
  top: 650px;
}

.view-more-button:hover {
  background-color: black;
}

.stats-box {
  width: 200px;
  height: 100px;
  background-color: #fe9f29;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Add 3D effect with box shadow */
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.stats-box:hover {
  transform: translateY(-5px); /* Add slight upward movement on hover */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); /* Enhance box shadow on hover */
}

/* Footer styles */
footer {
  background-color: black;
  color: #ffffff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 25%;
  padding: 0 15px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  padding: 0;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

/*Signup form*/

.signup-form {
  width: 400px;
  height: 600px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(233, 159, 10, 0.1); /* Add subtle shadow for depth */
}
.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form img {
  margin-left: 7%;
}
.signup-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="tel"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Add border to input fields */
  border-radius: 10px; /* Add slight roundness to input fields */
}

.signup-form input[type="text"]:focus,
.signup-form input[type="email"]:focus,
.signup-form input[type="tel"]:focus,
.signup-form input[type="password"]:focus {
  outline: none; /* Remove default browser outline on focus */
  border-color: #fe9f29; /* Change border color to highlight focused field */
}

.signup-form button[type="submit"] {
  background-color: #fe9f29;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px; /* Add roundness to submit button */
  cursor: pointer;
  margin-left: 40%;
  margin-top: 7%;
}

.signup-form button[type="submit"]:hover {
  background-color: #fe9f29; /* Change button color on hover for better interactivity */
}
