@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

nav {
  flex: 1;
  text-align: right;
  background-color: #000000;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 100px;
  margin-top: 5%;
}

.nav-links ul li a {
  cursor: pointer;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.join-us-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-items: right;
  font-family: "comfortaa";
}

.nav-links {
  margin-right: 30%;
}

section {
  margin-bottom: 2rem;
}
.about-container {
  display: flex;
  align-items: center;
}

.about-container1 {
  display: flex;
  align-items: center;
}

.about-heading {
  flex: 0 0 auto;
  margin-right: 90px;
  margin-left: 95px;
  font-size: 70%;
  margin-top: 5%;
  color: #fe9f29;
}

.about-heading1 {
  flex: 0 0 auto;
  margin-right: 90px;
  margin-left: 95px;
  font-size: 90%;
  font-weight: 30px;
  margin-top: 5%;
  color: #fe9f29;
}

.about-us-section {
  margin-top: 0%;
  margin-bottom: 7%;
}

.about-us-section1 {
  margin-top: 0%;
  margin-bottom: 7%;
}
.about-content {
  flex: 1 1 auto;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 3%;
  margin-top: 5%;
}

.about-content1 {
  flex: 1 1 auto;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 3%;
  margin-top: 5%;
  text-align: justify;
  padding-right: 100px;
}

.about-content img {
  margin-left: 23%;
  /* width: 40%; */
  margin-top: 13%;
  size: 200cap;
  box-shadow: 0px 0px 10px #fe9f29;
}

.image-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  border-radius: 20%;
  margin-left: -17%;
}

.image-container img {
  border-radius: 5%;
}
.join-us-button1 {
  padding: 10px 20px;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20%;
  height: 3vh;
  position: absolute;
  width: 30vh;
  top: 1370px;
}

h2 {
  font-size: 23px;
  margin-top: -200%;
}

.upcoming-events-section h2 {
  color: white;
  margin-left: 43%;
  margin-top: 3%;
}

.upcoming-events-section .event-cards {
  margin-top: 5%;
}

.banner-section {
  position: relative;
  height: 70px;
  width: 90%;
  background-color: #f2f2f2;
  margin-left: 5%;
  margin-top: 3%;
}

.banner-section-2 {
  position: relative;
  height: 70px;
  width: 90%;
  background-color: #f2f2f2;
  margin-left: 5%;
  margin-top: -13%;
  margin-bottom: 4%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

.register-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: right;
  font-family: "comfortaa";
}
.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.join-button {
  background-color: #fe9f29;
  color: #000000;
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: Comfortaa;
}

.hero-text {
  color: #fff;
  text-align: center;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: floatAnimation 4s ease-in-out infinite;
}

/* featured events section  */

.featured-events-section {
  margin-top: 10%;
  background-color: black;
  padding: 40px;
  height: 100vh;
  position: relative;
}

h3 {
  color: #fe9f29;
  margin-left: 37%;
  font-size: 33px;
  margin-bottom: 4%;
}

h4 {
  color: #fe9f29;
}

p {
  color: white;
}

h5 {
  color: #000000;
  font-size: 20px;
}

h6 {
  color: green;
  font-size: 20px;
  margin-left: 60px;
}

/* Event Card Styles */

.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-left: 40px;
  margin-right: 40px; */
}

.event-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(240, 236, 236, 0.956);
  overflow: hidden;
  width: 46vh;
  height: 50vh;
}
.event-cards .event-card {
  width: calc(25% - 20px);
  height: auto;
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.event-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
}
.upcoming-events-section .event-card,
.past-events-section .event-card {
  margin-bottom: 235px;
}

.event-details {
  padding: 20px;
}

.event-details h4 {
  margin: 0 0 10px;
}

.event-details p {
  margin: 0;
  color: #666;
  margin-top: 12px;
}
.register-button {
  display: block;
  text-align: center;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: 70%;
  margin-left: 23px;
}

.register-button:hover {
  background-color: #b32a00;
}

.featured-stats-section {
  display: flex;
  justify-content: space-around;
  margin-top: 12%;
  margin-bottom: 10%;
}

.view-more-button {
  padding: 10px 20px;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 39%;
  height: 3vh;
  position: absolute;
  top: 650px;
}

.view-more {
  padding: 10px 20px;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 42%;
  height: 3vh;
  position: absolute;
  top: 1900px;
}

.view-more-button:hover {
  background-color: #b32a00;
}

.stats-box {
  width: 200px;
  height: 100px;
  background-color: #fe9f29;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.stats-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

/* Footer styles */
footer {
  background-color: black;
  color: #ffffff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section ul {
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  margin-left: 20px;
}

.contact-info p {
  margin: 10px 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.contact-info p svg {
  margin-right: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  font-size: 24px;
  margin: 0 10px;
  color: #555;
}

.social-icon:hover {
  color: #fe9f29;
}

/*Signup form*/

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-form {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 380px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #100f0f;
  border-radius: 10px;
}

.signup-btn {
  background-color: #fe9f29;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Comfortaa", sans-serif;
}

.signup-btn:hover {
  background-color: #b33f00;
}

.black-text {
  color: black;
  margin-left: 1%;
  font-size: 0.9rem;
  margin-top: 35px;
}

/*Main-events-page*/
.main-events-page {
  background-color: #ffffff;
}

/* EventRSVPForm.css */

.event-rsvp-form {
  width: 400px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.event-rsvp-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 30px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.form-group label {
  display: inline-block;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
button {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 370px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #fe9f29;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5%;
}

button:hover {
  background-color: #b33f00;
}

/*Login page*/

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ffffff;
}

.login-btn {
  background-color: #fe9f29;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 20%;
  margin: auto;
  width: 100%;
}
.login-button {
  display: inline-block;
  background-color: #fe9f29;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: auto;
  width: 100%;
  height: 12%;
}

.login-button:hover {
  background-color: #b33f00; /* Change to your desired hover color */
}

.login-btn:hover {
  background-color: #b33f00;
}

.error-message {
  color: red;
}

.lgn {
  width: 90%;
}
